
@{
    ViewBag.Title = "About Luke";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <br />
    <div class="col-sm-6">
        <h3>Bio</h3>
        <p>
            Luke is a 19 year old male university student studying Bcom Informatics and Information science at the University of
            Pretoria. Before this he attended Pretoria Boys High School for 5 years. He was born in Pretoria, South Africa on 
            the 21st of August 2002 along with his twin brother.
        </p>
        <p>    
            Luke enjoys connecting and spending time with people. He also enjoys bettering and improving himself and often looks for
            opportunities to do so.
        </p>
    </div>
    <div class="col-sm-6">
        <h3>
            Luke (absolutely dashing)
        </h3>
        <div>
            <br />
            <p style="text-align: center">
                <img src="~/Media/Images/Luke.jpg" style="width:300px;height:300px;" />
            </p>
            <br />
        </div>
    </div>
</div>
