
@{
    ViewBag.Title = "Documents";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="table-bordered">


    <table class="table" style="width:100% ">
        <thead>
            <tr>
                <th> File Name </th>
                <th> Download Option </th>
                <th> Delete Option </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>file</td>
                <td>file</td>
                <td>file</td>
            </tr>
            <tr>
                <td>file</td>
                <td>file</td>
                <td>file</td>
            </tr>
            <tr>
                <td>file</td>
                <td>file</td>
                <td>file</td>
            </tr>
            <tr>
                <td>file</td>
                <td>file</td>
                <td>file</td>
            </tr>
        </tbody>
    </table>

</div>