@{
    ViewBag.Title = "Media Handler";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <br />
    <div class="col-sm-6">
        <h3>Description</h3>
        <p>
            This system has a File page which allows users to delete or download uploaded files, an Images page which displays all
            uploaded images which can then be downloaded or deleted and a Videos page which which displays all
            uploaded videos which can then be downloaded or deleted.
        </p>
    </div>
    <div class="col-sm-6">
        <h3>
            Option Selection
        </h3>
        <div>
            <div class="radio">
                <label>
                    <input type="radio" name="options" value="Document" />
                    Document
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="options" value="Image" />
                    Image
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="options" value="Video" />
                    Video
                </label>
            </div>
        </div>
        <div class="well-sm">
            <div class="form-horizontal">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div><input type="file" name="Files" /></div>
                    <br />
                    <div><input type="submit" name="Upload" /></div>
                }
            </div>
        </div>
    </div>
</div>